body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.log {
    width: 1280px;
    height: 750px;
    background-position: center;
    margin-right: 50px;
    background-color : aquamarine;
}

.loginbox {
    width: 450px;
    height: 550px;
    background: black;
    color: #ffffff;
    top: 30%;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    padding: 50px 45px;
    opacity: .8;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: calc(50% - 50px);
    
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: AR JULIAN;
    color: aqua;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

    .loginbox input[type="email"], input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .loginbox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: aqua;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

        .loginbox input[type="submit"]:hover {
            cursor: pointer;
            background: #95e8e9;
            color: red;
        }

.loginbox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: aqua;
}

    .loginbox a:hover {
        color: #5e8eaf;
    }

.active {
    color: #fff;
    background: #e02626;
    border-radius: 4px;
}


input[type=checkbox] {
    display: flex;
    align-items: flex-end;
}
