.container {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIkhYlAXJkNF7B3YsPAH-DeyAnhd5V2VqNdA&usqp=CAU');*/
    /* backdrop-filter: blur(2px);*/
    background-color: aquamarine;
    background-size: cover; /* This ensures that the background image covers the entire body element. */
    background-repeat: no-repeat; /* Prevents the background image from repeating.*/
}

.form-group {
    font-weight: bold
}

.btn.btn-black {
    background-color: darkred;
    color: white; /* Optionally, you can set the text color to white for better visibility */
}
