/*.form-group row {*/
     /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIkhYlAXJkNF7B3YsPAH-DeyAnhd5V2VqNdA&usqp=CAU');
     backdrop-filter: blur(2px);*/
    /*background-color: lightblue;
    background-size: cover;  
}*/
section {
  
    background-color: aquamarine;
    background-size: cover;
}

